<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <style>

        body {
            padding: 50px;
        }

    </style>
    <link rel="stylesheet" href="/css/message.css" />
</head>
<body>
<div class="container">
    <h2>Hotel Hotel - Booking Register</h2>
    <form>
        <div class="form-row"><span>Client information</span></div>
        <div class="form-row">
            <div class="form-group">
                <input type="number" placeholder="Client ID" list="clients-ids" maxlength="11" minlength="11">
                <datalist id="clients-ids">
                    <option data-th-each="client : ${clients}" data-th-value="${client.id}"
                            data-th-text="${client.id}"></option>
                </datalist>
            </div>
        </div>
        <br>
        <div class="form-row"><span>Room information</span></div>
        <div class="form-row">
            <div class="form-group">
                <input type="number" placeholder="Room ID" list="rooms-ids" id="roomId">
                <datalist id="rooms-ids">
                    <option data-th-each="room: ${rooms}" data-th-value="${room.id}" data-th-text="${room.id}"></option>
                </datalist>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <input type="date" placeholder="Check In">
            </div>
            <div class="form-group">
                <input type="date" placeholder="Check Out">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <input type="text" id="roomTypeLabel" placeholder="Room type" disabled>
            </div>
            <div class="form-group">
                <input type="text" id="roomRentLabel" placeholder="Rent" disabled>
            </div>
        </div>
        <div class="form-footer">
            <a class="btn-style btn-extra-small" th:href="${root} + '/booking'">Return</a>
            <a class="btn-style btn-extra-small" type="submit">Enter</a>
        </div>
    </form>
</div>
<div class="footer">
    <p>Address | Contact</p>
</div>
<script>

    document.getElementById("roomId").addEventListener("input", function (e) {
        let value = e.target.value;

        fetch("/home/room/" + value)
            .then(response => response.json())
            .then(data => {
                document.getElementById("roomRentLabel").value = data.rent;
                document.getElementById("roomTypeLabel").value = data.room_type;
            })
            .catch(error => {
                document.getElementById("roomRentLabel").value = '';
                document.getElementById("roomTypeLabel").value = '';
            }).catch(error => {
            document.getElementById("roomRentLabel").value = '';
            document.getElementById("roomTypeLabel").value = '';
        })
    });
</script>
</body>
</html>
