<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel client</title>
    <link rel="stylesheet" href="/css/globals.css" />
    <style>

        body {
            padding: 20px;
        }

        .container {
            background: white;
            width: 80%;
            max-width: max-content;
            max-height: fit-content;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .footer {
            text-align: center;
            margin-top: 20px;
            padding-top: 20px;
            color: white;
        }

    </style>
</head>
<body>
<div class="container">
    <h2>Hotel Hotel - Client Manager</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Cellphone</th>
            <th>BirthDate</th>
            <th>Gender</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Neighborhood</th>
            <th>Street</th>
            <th>ZipCode</th>
            <th>Action</th>
        </tr>
        <tr data-th-each="person : ${clientPersonList}">
            <td data-th-text="${@idFormatter.format(person.id)}" style="white-space: nowrap"></td>
            <td data-th-text="${person.name}"></td>
            <td data-th-text="${person.surname}"></td>
            <td data-th-text="${@phoneFormatter.format(person.cellphone)}" style="white-space: nowrap"></td>
            <td data-th-text="${@dateFormatter.format(person.birthdate)}"></td>
            <td data-th-text="${person.gender}"></td>
            <td data-th-text="${person.getMainAddress()?.country}"></td>
            <td data-th-text="${person.getMainAddress()?.state}"></td>
            <td data-th-text="${person.getMainAddress()?.city}"></td>
            <td data-th-text="${person.getMainAddress()?.neighborhood}"></td>
            <td data-th-text="${person.getMainAddress()?.street}"></td>
            <td data-th-text="${@ZIPCodeFormatter.format(person.getMainAddress()?.zipcode)}"
                style="white-space: nowrap"></td>
            <td style="white-space: nowrap">
                <a th:href="@{/home/client/edit/{id}(id=${person.id})}">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0,0,256,256">
                            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g transform="scale(8.53333,8.53333)">
                                    <path d="M27.41,5.41l-3,3c-0.39,0.39 -0.9,0.59 -1.41,0.59c-0.51,0 -1.02,-0.2 -1.41,-0.59c-0.79,-0.78 -0.79,-2.04 0,-2.82l3,-3c-0.78,-0.38 -1.66,-0.59 -2.59,-0.59c-3.31,0 -6,2.69 -6,6c0,0.539 0.07,1.059 0.21,1.548l-6.662,6.662c-0.49,-0.14 -1.009,-0.21 -1.548,-0.21c-3.31,0 -6,2.69 -6,6c0,0.93 0.21,1.81 0.59,2.59l3,-3c0.78,-0.79 2.04,-0.79 2.82,0c0.79,0.78 0.79,2.04 0,2.82l-3,3c0.78,0.38 1.66,0.59 2.59,0.59c3.31,0 6,-2.69 6,-6c0,-0.539 -0.07,-1.059 -0.21,-1.548l6.661,-6.661c0.49,0.139 1.009,0.209 1.549,0.209c3.31,0 6,-2.69 6,-6c0,-0.93 -0.21,-1.81 -0.59,-2.59z"></path>
                                </g>
                            </g>
                        </svg>
                    </button>
                </a>
                <a th:href="@{/home/client/delete/{id}(id=${person.id})}">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0,0,256,256">
                            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g transform="scale(8.53333,8.53333)">
                                    <path d="M13,3c-0.26757,-0.00363 -0.52543,0.10012 -0.71593,0.28805c-0.1905,0.18793 -0.29774,0.44436 -0.29774,0.71195h-5.98633c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-5.98633c0,-0.26759 -0.10724,-0.52403 -0.29774,-0.71195c-0.1905,-0.18793 -0.44836,-0.29168 -0.71593,-0.28805zM6,8v16c0,1.105 0.895,2 2,2h14c1.105,0 2,-0.895 2,-2v-16z"></path>
                                </g>
                            </g>
                        </svg>
                    </button>
                </a>
            </td>
        </tr>
    </table>
    <br>
</div>
<div class="footer">
    <p>Address | Contact</p>
</div>
</body>
</html>
