<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking</title>
    <link href="/css/globals.css" rel="stylesheet" />
    <link href="/css/table.css" rel="stylesheet" />
    <style>

        body {
            padding: 20px;
        }

    </style>
    <link rel="stylesheet" href="/css/message.css" />
</head>
<body>
<div class="container">
    <h2>Hotel Hotel - Employee Manager</h2>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Cellphone</th>
            <th>BirthDate</th>
            <th>Gender</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Neighborhood</th>
            <th>Street</th>
            <th>ZipCode</th>
            <th>Hair Date</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
        <!-- Add your rows and data here -->
    </table>
    <br>
    <div class="form-footer">
        <button type="button">Enter</button>
    </div>
</div>
<div class="footer">
    <p>Address | Contact</p>
</div>
</body>
</html>
