<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Hotel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/globals.css" rel="stylesheet" />
    <style>

        body {
            padding: 0;
        }

        .main-content {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .section {
            background: white;
            margin: 10px;
            padding: 20px;
            width: calc(33% - 20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

    </style>
</head>
<body>
<div class="header">
    <div class="container text-center" style="margin: 0;">
        <div class="row">
            <div class="col login">
                <button id="loginButton" type="button" class="btn btn-secondary login">Log in</button>
            </div>
            <div class="col-6 title">
                <h1>Hotel Hotel</h1>
            </div>
            <div class="col home">
                <button type="button" class="btn btn-secondary">Home</button>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="section about">
        <img src="/images/hotel_logo.png" alt="Hotel Logo" style="max-width: 100%;">
        <h3>About the Hotel Hotel</h3>
        <p>Welcome to Hotel Hotel, a haven of luxury and comfort located in the heart of Jacarta. Blending timeless
            elegance with modern amenities, our hotel promises an unforgettable stay for all guests.</p>
        <p>From the moment of arrival, you will be enveloped in our warm hospitality and attentive service. Each of our
            rooms and suites has been meticulously designed to offer the utmost in comfort and style, featuring a serene
            color palette, exquisite furnishings, and all the contemporary amenities you could wish for.</p>
    </div>
    <div class="section services">
        <h3>Services Offered:</h3>
        <ul>
            <li>1. Accommodation: Our rooms and suites are a blend of luxury and comfort, each designed to provide a
                peaceful retreat with all the modern amenities, including high-speed Wi-Fi, flat-screen TVs, and
                luxurious bedding.
            </li>
            <br>
            <li>2. Dining: Guests can indulge in culinary delights at our on-site restaurant, which offers a diverse
                menu of local and international cuisine, crafted by our expert chefs. Our hotel also features a cozy
                bar, perfect for sipping on cocktails or enjoying a casual meal.
            </li>
            <br>
            <li>3. Wellness and Fitness: Our state-of-the-art fitness center is open 24/7, allowing guests to maintain
                their fitness routine. Additionally, our spa offers a serene environment for relaxation, with treatments
                ranging from massages to beauty therapies.
            </li>
            <br>
            <li>4. Business Facilities: For our business travelers, we provide well-equipped meeting rooms and a
                business center with all the necessary tools and technologies for a productive work environment.
            </li>
            <br>
            <li>5. Concierge Services: Our knowledgeable concierge team is at your service to assist with anything from
                travel arrangements and tour bookings to restaurant recommendations and reservations.
            </li>
            <br>
            <li>6. Event Hosting: Whether it's a business conference, a wedding, or any other event, our versatile event
                spaces and dedicated planning team ensure a seamless and successful event.
            </li>
            <br>
            <li>7. Additional Amenities: We offer a range of other amenities, including room service, laundry and dry
                cleaning, airport shuttle service, and ample parking.
            </li>
        </ul>
    </div>
    <div class="section history">
        <h3>History:</h3>
        <p>Nestled in the heart of Jacarta, the story of Hotel Hotel is one of heritage, innovation, and a commitment to
            excellence. Since our inception in 2001, our hotel has been a symbol of the unique blend of historical charm
            and contemporary luxury.</p>
        <p>The hotel was founded by Joseph Elias, a visionary with a passion for hospitality and a deep love for
            Jacarta. Originally built as a private mansion, the building was transformed into a hotel to share the
            beauty of Jacarta with visitors from around the world.</p>
        <p>Over the years, Hotel Hotel has seen numerous renovations and expansions, each carefully designed to preserve
            the building's original character while incorporating modern amenities and design elements. Our hotel stands
            as a testament to Jacarta's rich history, with architectural details and décor that reflect the local
            culture and heritage.</p>
    </div>
</div>
<div class="footer">
    <p>Address | Contact</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="scripts/script.js"></script>
<script>
    document.getElementById("loginButton").onclick = function () {
        location.href = "/login"
    }
</script>
</body>
</html>