<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking</title>
    <link rel="stylesheet" href="/css/globals.css" />
    <style>
        body {
            padding: 20px;
        }

        .container {
            background: white;
            width: 80%;
            max-width: fit-content;
            max-height: fit-content;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-footer {
            text-align: center;
        }
        
    </style>
</head>
<body>
<div class="container">
    <h2>Hotel Hotel - Booking Manager</h2>
    <table>
        <tr>
            <th>Client ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Cellphone</th>
            <th>Room ID</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Action</th>
        </tr>
        <!-- Add your rows and data here -->
    </table>
    <br>
    <div class="form-footer">
        <button type="button" id="returnButton">Return</button>
        <button type="button">Enter</button>
    </div>
</div>
<div class="footer">
    <p>Address | Contact</p>
</div>
<script>
    document.getElementById("returnButton").onclick = function () {
        window.history.back();
    }
</script>
</body>
</html>
