<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Person</title>
</head>
<body>
  <form action="#" th:action="@{/debug/register}" th:object="${register}" method="POST">
      <!-- Campos da pessoa -->
      <input type="number" th:field="*{person.id}" placeholder="ID" />
      <input type="text" th:field="*{person.name}" placeholder="Name" />
      <input type="text" th:field="*{person.surname}" placeholder="Surname" />
      <input type="date" th:field="*{person.birthdate}" placeholder="Birthdate"/>
      <input type="number" th:field="*{person.cellphone}" placeholder="Cellphone"/>
      <input type="text" th:field="*{person.gender}" placeholder="Gender" />

      <!-- Campos do endereço -->
      <input type="text" th:field="*{address.street}" placeholder="Street name" />
      <input type="text" th:field="*{address.neighborhood}" placeholder="Neighborhood" />
      <input type="text" th:field="*{address.city}" placeholder="City" />
      <input type="text" th:field="*{address.state}" placeholder="State" />
      <input type="text" th:field="*{address.country}" placeholder="Country" />
      <input type="number" th:field="*{address.zipcode}" placeholder="ZIP Code" />

      <button type="submit">Register</button>
  </form>
</body>
</html>