body {
    font-family: Arial, sans-serif;
    background: #171717;
    margin: 0;
}

.btn-style {
    display: inline-block; /* Faz com que se comporte como um botão */
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado do link */
}

.btn-large {
    width: 481px;
}

.btn-medium {
    width: 312px;
}

.btn-style:hover {
    background-color: #555;
}


h1 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 73, 73);
}

.title {
    text-align: center;
}

.login {
    text-align: left;
    padding: 10px;
}

.home {
    text-align: right;
    padding: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    border-radius: 8px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    color: white;
}


img {
    width: 50%;
    height: 50%;
    text-align: center;
    border-radius: 15px;
}

.image {
    text-align: center;
}

.section h3 {
    margin-top: 0;
    color: #333;
}

.section p li ul {
    color: #666;
}

.card-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-logo {
    max-width: 100%;
    height: auto;
}

.card h3 {
    margin: 16px 0;
}


.card button:hover {
    background-color: #555;
}


